html {
	background-color: slategray;
}

body {
	max-width: 1500px;
	display: block;
	margin: 0 auto;
}

header {
	justify-content: center;
	margin-top: 15px;
	background-color: cornsilk;
}

footer {
	margin-top: 15px;
	padding: 15px 10px;
	background-color: cornsilk;
}

form {
	padding: 15px 10px;
	display: inline-block;
}

input {
	width: 250px;
	height: 20px;
	padding: 1px;
	margin: 3px;
}

h3 {
	padding: 15px 10px;
	margin: 0px;
}

section {
	display: inline-flexbox;
	width: 100%;
	height: auto;
	justify-content: space-between;
	margin-top: 15px;
	background-color: cornsilk;
}

table, td, th {
	border: 1px solid;
	border-collapse: collapse;
}
td {
	padding: 3px;
}

th {
	padding: 5px;
}

.author {
	width: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: lightgray;
  color: black;
}

#title {
	display: block;
	text-align: center;
	margin: auto;
	padding: 10px;
}

