{{define "title"}}Search{{end}}

{{define "body"}}
<main id="main">
	<section>
		<form action="/request" method="GET">
			<label for="selector1">Select:</label>

			<select name="selector1" id="selector1">
				<option value=""></option>
				<option value="author">Author</option>
				<option value="title">Title</option>
				<option value="publisher">Publisher</option>
				<option value="genres">Genre</option>
			</select>

			<input type="text" id="input1" name="input1"><br>

			<label for="selector2">Select:</label>

			<select name="selector2" id="selector2">
				<option value=""></option>
				<option value="author">Author</option>
				<option value="title">Title</option>
				<option value="publisher">Publisher</option>
				<option value="genres">Genre</option>
			</select>

			<input type="text" id="input2" name="input2"><br>

			<input type="submit" value="Submit">

		</form> 
	</section>
</main>	 
{{end}}
